$navbar-default-bg: #073B15;


@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 300px;
}
#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron h1, .jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #073B15;
}

.btn-xlarge:hover {
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: #fff;
  text-align: center;
}

.description {
  margin-top: 0;
}

.well a {
  color: #073B15;
}

.chef_info {
  margin-top: 10px;
}

.colormatch a {
  color: #073B15;
}